*{box-sizing: border-box;
border: 0;
margin: 0;
border: 1px dotted red;
font-family: sans-serif;}

/*----------------------------------------------nav---------------------------------------------------------*/
nav{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:15px;
    padding-right: 15px;
    align-items: center;
}

#nav-sx, #nav-dx{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 0;
}

nav ul li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 13px;
    padding-left: 13px;
    font-size: 0.7em;
    color: rgb(50, 50, 50);
}

nav ul li:last-of-type{
    padding-left: 0;
}

#logo-dropbox{
    height: 40%;
    margin-right: 13px;
}

.blue-btn{
    background-color: rgb(0, 97, 255);
    font-size: 11.5px;
    padding: 5px 6px;
    color: white;
}

/*----------------------------------------------------header-------------------------------------------------------*/

header{
    min-height: 480px;
    background-color: #B4D0E7
}

.container-centered1{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

h1{font-size: 3em;
    font-weight: 900;}

#blocco-header{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 2em;
    height: 250px;
}

#testo-header{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#testo-header p{
    line-height: 15.5px;
    color: rgb(50, 50, 50);
    font-size: 11.5px;
    width: 100%;
    min-height: 20px;
}

#sopra-testo-header{
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: flex-start;
}

#img-header{
    width: 60%;
}

i{margin-bottom: 5px;
    font-size: 30px;
}

#img-header img{
    width: 100%;
}

/*-----------------------------------------------------main-----------------------------------------------------------*/

/*---------section piano business----------------------*/

.container-centered2{
    max-width: 740px;
    background-color: lightgreen;
    min-height: 90px;
    margin-left: auto;
    margin-right: auto;
}

section{
    padding-top: 100px;
}

section h2{min-height: 40px;
background-color: green;
margin-bottom: 40px;}

#tipo-fatturazione{
    color: rgb(50, 50, 50);
    font-size: 11px;
    margin-bottom: 25px;
}

#tipo-fatturazione i{
    font-size: 11.5px;
}

#tipo-fatturazione i:nth-of-type(2){
    margin-left: 30px;
}

#tipo-fatturazione i:nth-of-type(1){
    color: rgb(0, 97, 255);;
}

#singolo-team-azienda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: stretch;
    margin-bottom: 25px;
}

#singolo, #team, #azienda{
    background-color: green;
    width: calc(100% / 3);
    border: 1px solid rgb(100, 100, 100);
}

#team{
    height: 550px;
}

#team2{
    min-height: 120px;
    background-color: green;
}

.intest-tabelle{
    font-size: 11px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    color: rgb(50, 50, 50);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.intest-tabelle i{
    font-size: 11.5px;
    color: rgb(50, 50, 50);
}

.tabelle-inner{
    margin: 30px 25px;
}

/*--------section entra in contatto------------------*/

#entra-in-contatto .container-centered2{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#img-entra{
width: 60%;
height: 350px;
background-color: green;
}

#box-testi-entra{
    width: 30%;
    height: 250px;
    background-color: green;
    margin-top: 40px;
margin-right: 40px;
}

/*-------section esegui-----------------------------*/
#passa-di-meno{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#passa-di-meno>div{
    min-width: 220px;
    flex-shrink: 0;
    background-color: green;
    height: 300px;
    margin-bottom: 40px;
}

/*----section piu di---------------------------------*/
#di-piu h2{
    width: 63%;
}

#di-piu a{
    height: 10px;
    background-color: green;
}

/*----------designit-----------------------------------*/
#designit{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
}

#designit>div{
    background-color: lightpink;
    width: calc(100% / 3);
}

#designit-centro{
}

#designit-sx, #designit-dx{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.quadratino{
    width: calc(100% / 2);
    height: calc(100vw / 6);
    background-color: pink;
}

#porta-dropbox{
    background-color: darkgreen;
}

#porta-dropbox-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 160px;
}

#porta-dropbox h2, #porta-dropbox button{
    background-color: green;
    min-height: 20px;
}

#porta-dropbox h2{
    width: 60%;
}

#porta-dropbox button{
    width: 30%;
}

/*----------section domande frequenti------------------------*/

.domanda{
    background-color: green;
    height: 61px;
}

#domande-frequenti{
    padding-bottom: 100px;
}

/*------------------------------------------footer------------------------------------------------------------------*/
footer{
    background-color: black;
    min-height: 300px;
}

#footer-sopra{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.colonna-footer{
    width: calc(100% / 5);
}

#footer-sopra ul{
    padding-left: 0;
}

#footer-sopra li{
    height: 15px;
    background-color: gray;
    list-style-type: none;
    margin-bottom: 12px;
}

#footer-sopra li:last-of-type{
    margin-bottom: 50px;
}
hr{
    color: gray;
    width: 70px;
}

#footer-sotto{
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#italiano{
    background-color: grey;
    min-height: 10px;
    width: 50px;
}